*{
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', sans-serif;
}
header{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 4%;

}

.container1{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-gap: 10rem;
    margin-top: 30px;
}
.nested-mobile{
    display: none;
}

.container1 img{
    width: 100%;
}
.text1{
    text-align: center;
}
 .title{
    font-weight: bolder;
    font-size: 30px;
    line-height: 40px;
}
.para{
    margin-top: 1rem;
}
button {
    margin-top: 1rem;
    border-radius: 29px;
    padding:12px 24px;
    margin-left: 4px;
    cursor: pointer;
    color: white;
    text-decoration: none;
    border-style: none;
}
.btn1{
    background: #4D96A9;
}
.btn2{
    background: #855FB1;
}
.pagination{
    position: absolute;
    left: 50%;
    margin-top: 9rem;
    font-size: small;
   
}
.page-vertical {
    border-left: 1px solid #87879D;
    height: 80px;
    position: absolute;
    left: 50%;
    opacity: 0.25;
    margin-top: -5rem;
  }
  .page-number{
    border: 1px solid #87879D;
    border-radius: 50%;
    padding: 10px;
    opacity: 0.9;
    color: black;
    background-color: white;
  }
.container2{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 15rem;
    
}
.container2 img{
   margin-left: 0.7rem; 
   border-radius: 5%;
}

.container3 {
    text-align: center;
    margin-top: 3rem;
}

.text-title{
    font-weight: 900;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 3px;
    color: #4D96A9;
}
.text-heading{
    font-weight: bolder;
    font-size: 20px;
    line-height: 25px;
    margin-top: 1rem;
}
.text-para{
    margin-top: 1rem;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}
footer{
    margin-top: 10rem;
    padding:70px;
    background:url(/assests/Bitmap\ \(5\).png) no-repeat #4D96A9;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    justify-content: space-around;
}
.f-heading{
    color: white;
    font-weight: bolder;
    font-size: 20px;
}
.f-button{
    border-radius: 29px;
    padding:12px 24px;
    margin-left: 4px;
    cursor: pointer;
    color: white;
    text-decoration: none;
    border-style: none;
    background: #855FB1;
    font-size: 15px;
    font-weight: bold;
}
/* For mobile phones: */
@media only screen and (max-width: 767px) {
    .container1{
        grid-template-columns:1fr;
        grid-gap: 5rem;
        margin-top: 30px;
    }
    .nested{
        display: none;
    }
    .nested-mobile{
        display: block;
    }

    .container2 img{
        border-radius: 5%;
        margin-left:0;
        margin-bottom: 10px;
     }
    
     .container2{
        flex-direction: column;
       padding: 0 10px;
        
    }
    
    footer{
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
        margin:0 ;
        margin-top: 160px;
    }
    footer div{
        margin-bottom: 20px;
    }
    button {
        display: block;
        align-content: center;
       }
}

/* for tablet*/
@media only screen and (min-width: 768px) and (max-width:1023px) {
    .container1{
        grid-template-columns:1fr;
        grid-gap: 5rem;
        margin-top: 30px;
    }
    .nested{
        display: none;
    }
    .nested-mobile{
        display: block;
    }

    .container2 img{
        border-radius: 5%;
        margin-left:0;
        margin-bottom: 10px;
     }
    
     .container2{
        flex-direction: column;
       padding: 0 10px;
        
    }
    
    footer{
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
        margin:0 ;
        margin-top: 160px;
        font-size: x-large;
    }
    footer div{
        margin-bottom: 20px;
    }
}